*{
    margin:0;
    padding:0;
}


#blog-main{
    display: flex;
    flex-direction: column;
}

#main-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    padding: 5vw 20vw 5vw 15vw;
    font-family: Roboto;
    text-align: center;

    font-size: x-large;
    font-weight: 350;
    
}

#Blogtitle{
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 15vw;
    margin-top: 10vw;
    font-family: monospace;

}

#Blogusername{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 15vw;
    margin-top: 1vw;


    font-family: monospace;
    font-style: normal;
    font-weight: normal;

    color: #CFCFCF;
    width: fit-content;

    text-decoration: none;
}

#Blogusername:hover{
    color: rgb(126, 126, 126);
    cursor: pointer
}

#BlogLovesText{
    width: 10vw;
    height: 27vh;
    position: fixed;
    z-index: 1000;
    top: 45vh;
}

#BlogLoveIcon{
    position: absolute;
    height: inherit;
    width: inherit;
    margin-left: 58vw;
    margin-top: 1vh;
}

#BlogLoveIcon:hover{
    cursor: pointer;
}

