*{
    margin:0;
    padding:0;
}


#blog-main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 2fr;
    grid-gap: 10px;
}

#main-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    padding: 5vw 15vw 5vw 15vw;
    font-family: Roboto;
    text-align: center;

    font-size: x-large;
    font-weight: 350;
    
}

#Blogtitle{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 15vw;
    margin-top: 10vw;
    font-family: monospace;
}

#Blogusername{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 15vw;
    margin-top: 1vw;


    font-family: monospace;
    font-style: normal;
    font-weight: normal;

    color: #CFCFCF;
    width: fit-content;
}

#Blogusername:hover{
    color: rgb(126, 126, 126);
    cursor: pointer
}

