#navbody{
    position: absolute;
    height: 60px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #727272
}

.navLink{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #292929;
    text-decoration: tomato;
}

#homeLink{
    position: absolute;
    top:20px;
    left:30px;
}

#blogLink{
    position: absolute;
    top:20px;
    left:130px;
}

#usersLink{
    position: absolute;
    top:20px;
    left:230px;
}

#loginLink{
    position: absolute;
    top:20px;
    left:1177px;
}

#logoutLink{
    position: absolute;
    top:20px;
    left:1177px;
}